.about {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: black;
  &__background {
    left: calc(0px + 50%);
    transform: translateX(-50%);
    position: absolute;
    min-width: 100%;
    height: 100%;
    opacity: 0.3;
  }
  &__content {
    padding: 0 map-get($gutters, xl);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    &__brand {
      margin-bottom: 50px;
    }
    &__horizontal-line {
      border-top: 3px solid $red1;
      width: 80px;
      height: 0;
      margin: 22px auto 25px auto;
    }
  }
}
